<sky-alert alertType="warning"
  >Training content is currently under development.</sky-alert
>

<p class="sky-font-body-lg">
  SKY UX is a design system for web applications. It provides a collection of
  reusable HTML, CSS, and JavaScript components that can be used to build
  modern, responsive web applications. SKY UX includes a set of CSS stylesheets
  and patterns for use in any web project, as well as a set of reusable Angular
  components.
</p>

<sky-action-button-container>
  <sky-action-button [permalink]="{ url: 'https://developer.blackbaud.com/' }">
    <sky-action-button-icon iconType="hammer-wrench-2" />
    <sky-action-button-header
      >Join Blackbaud SKY Developer</sky-action-button-header
    >
    <sky-action-button-details
      >Find the tools and partners to integrate with Blackbaud's
      platform.</sky-action-button-details
    >
  </sky-action-button>
  <sky-action-button
    [permalink]="{ url: 'https://developer.blackbaud.com/skyux/' }">
    <sky-action-button-icon iconType="help" />
    <sky-action-button-header>Learn more about SKY UX</sky-action-button-header>
    <sky-action-button-details
      >The documentation site includes design principles and code
      examples.</sky-action-button-details
    >
  </sky-action-button>
  <sky-action-button
    [permalink]="{ url: 'https://angular.dev/tutorials/learn-angular' }">
    <sky-action-button-icon iconType="link" />
    <sky-action-button-header>Learn Angular</sky-action-button-header>
    <sky-action-button-details
      >Angular provides a browser-based learning
      environment.</sky-action-button-details
    >
  </sky-action-button>
  <sky-action-button
    [permalink]="{
      url: 'https://developer.blackbaud.com/skyux/learn/overview'
    }">
    <sky-action-button-icon iconType="online-learning-2" />
    <sky-action-button-header>Get Started with SKY UX</sky-action-button-header>
    <sky-action-button-details
      >Explore the design principles and developer tools for working with SKY
      UX.</sky-action-button-details
    >
  </sky-action-button>
</sky-action-button-container>
